.new-collections {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-bottom: 100px;

}

.new-collections h1 {
    color: #171717;
    font-size: 50px;
    font-weight: 600;

}

.new-collections hr {
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background: #252525;


}

.collections {
    margin-top: 50px;
    display: flex;
    gap: 30px;
    overflow-x: auto;
    width: 95%;
    flex-wrap: nowrap;
    padding-left: 20px;
}


.new-collections img {
    width: 18rem;
    height: 20rem;

}