.offers {
    width: 65%;
    height: 60vh;
    display: flex;
    margin: auto;
    padding: 0px 140px;
    background: linear-gradient(180deg, #f2b4ba, #e1ffea22 60%);
    display: flex;
}

.offers-right img {
    width: 17rem;
}

.offers-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.offers-left h1 {
    color: #171717;
    font-size: 40px;
    font-weight: 600;

}

.offers-left p {
    color: #171717;
    font-size: 18px;
    font-weight: 600;
    padding-top: 10px;
}

.offers-left button {
    width: 282px;
    height: 70px;
    border-radius: 35px;
    background: #f8bbc1;
    border: none;
    color: white;
    font-size: 22px;
    font-weight: 500;
    margin-top: 30px;
    cursor: pointer;
}

.offers-right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 50px;

}