* {
    margin: auto;
    padding: auto;
}

body {
    margin: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* font-family: 'poppins'; */
}

code {
    font-family: source-code-prr, Menlo, Monoco, Consolas, 'Courier New', Courier, monospace;
}